<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Filters</h1>

        <h2>{{data|lower}}</h2>
        <h2>{{data|upper}}</h2>
        <h2>{{data|title}}</h2>
        <h2>{{data|capfirst}}</h2>
        <h2>{{data|length}}</h2>
        <h2>{{data|truncatechars:'4'}}</h2>
        <h2>{{data|truncatewords:'3'}}</h2>


        <h2>{{dt}}</h2>
        <h2>{{dt|date:'Y'}}</h2>
        <h2>{{dt|date:'I'}}</h2>
        <h2>{{dt|date:'D'}}</h2>


        <h1>I have {{c}} cat{{c|pluralize}}</h1>
       

    </center>
</body>
</html>